In [1]:
%matplotlib notebook
import pandas as pd
from scipy import stats

In [2]:
family_data = '../data/2017/familyxx.csv'

In [3]:
family_data_df = pd.read_csv(family_data)

In [4]:
family_data_df.head()

,FINT_Y_P,FINT_M_P,FMX,RECTYPE,SRVY_YR,HHX,FM_SIZE,FM_STRCP,FM_TYPE,FM_STRP,...,COVCONF,FHICOST,FMEDBILL,FMEDBPAY,FMEDBNOP,FSAF,FHICOVCT,FHICOVYN,FPRCOOH,FHIEBCCT
0,2017,2,1,60,2017,3,1,11,1,11,...,NaN,1,2,2,NaN,2,1,1,2.0,0.0
1,2017,4,1,60,2017,8,2,31,3,31,...,NaN,0,2,2,NaN,2,2,1,NaN,NaN
2,2017,3,1,60,2017,9,1,11,1,11,...,4.0,1,2,2,NaN,2,1,1,NaN,1.0
3,2017,3,1,60,2017,11,4,44,4,44,...,4.0,9,2,2,NaN,1,4,1,2.0,4.0
4,2017,1,1,60,2017,15,1,11,1,11,...,2.0,2,2,2,NaN,2,1,1,2.0,1.0

In [5]:
family_outdata = family_data_df.loc[:,['RECTYPE','SRVY_YR','HHX','FMX', 'FM_SIZE', 'FM_TYPE', 'FSRUNOUT', 'FSLAST', 'WTFA_FAM']]
family_outdata.head()

   RECTYPE  SRVY_YR  HHX  FMX  FM_SIZE  FM_TYPE  FSRUNOUT  FSLAST  WTFA_FAM
0       60     2017    3    1        1        1         3       3      4000
1       60     2017    8    1        2        3         3       3      3778
2       60     2017    9    1        1        1         3       3      3143
3       60     2017   11    1        4        4         3       2      4070
4       60     2017   15    1        1        1         3       3      4960

In [6]:
family_outdata['HH with Food Concern due to Money']=0
family_outdata['HH with Children']=0

for index, row in family_outdata.iterrows():
    
    if family_outdata.loc[index, 'FSRUNOUT'] in (1,2):
        family_outdata.loc[index, 'HH with Food Concern due to Money'] = 1
    if family_outdata.loc[index, 'FSLAST'] in (1,2):
        family_outdata.loc[index, 'HH with Food Concern due to Money'] = 1
    if family_outdata.loc[index, 'FM_TYPE'] in (3,4):
        family_outdata.loc[index, 'HH with Children'] = 1

In [7]:
family_outdata['HH with Food Concern due to Money'].value_counts()

0    28499
1     4658
Name: HH with Food Concern due to Money, dtype: int64

In [8]:
family_outdata['HH with Children'].value_counts()

0    23554
1     9603
Name: HH with Children, dtype: int64

In [9]:
family_outdata.head()

,RECTYPE,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,FSRUNOUT,FSLAST,WTFA_FAM,HH with Food Concern due to Money,HH with Children
0,60,2017,3,1,1,1,3,3,4000,0,0
1,60,2017,8,1,2,3,3,3,3778,0,1
2,60,2017,9,1,1,1,3,3,3143,0,0
3,60,2017,11,1,4,4,3,2,4070,1,1
4,60,2017,15,1,1,1,3,3,4960,0,0

In [ ]:
child_data = '../data/2017/samchild.csv'

In [ ]:
child_data_df = pd.read_csv(child_data)
child_data_df.head()

In [ ]:
# Look at values of SMKSTAT2 
child_data_df['CASSTILL'].value_counts()

In [ ]:
child_outdata = child_data_df.loc[:,['RECTYPE','SRVY_YR','HHX','FMX','FPX','REGION','WTFA_SC','CASHMEV','CASSTILL', 'ADD2N', 'AUTISMN', 'RSCL6']]

child_outdata['HH with Asthmatic Child']=0
child_outdata['HH with ADHD/ADD Child']=0
child_outdata['HH with Autistic Child']=0
child_outdata['HH with Child With Concentration/Emotional/Behavior Issues']=0
for index, row in child_outdata.iterrows():
    
    if child_outdata.loc[index,'CASHMEV'] == 1:
        child_outdata.loc[index,'HH with Asthmatic Child'] = 1
    if child_outdata.loc[index, 'ADD2N'] == 1:
        child_outdata.loc[index, 'HH with ADHD/ADD Child'] = 1
    if child_outdata.loc[index, 'AUTISMN'] == 1:
        child_outdata.loc[index, 'HH with Autistic Child'] = 1
    if child_outdata.loc[index, 'RSCL6'] == (1):
        child_outdata.loc[index, 'HH with Child With Concentration/Emotional/Behavior Issues'] = 1
    elif child_outdata.loc[index, 'RSCL6'] == (2):
        child_outdata.loc[index, 'HH with Child With Concentration/Emotional/Behavior Issues'] = 1
    elif child_outdata.loc[index, 'RSCL6'] == (3):
        child_outdata.loc[index, 'HH with Child With Concentration/Emotional/Behavior Issues'] = 1
                
        
        
child_outdata['HH with Asthmatic Child'].value_counts()

In [ ]:
child_outdata['HH with ADHD/ADD Child'].value_counts()

In [ ]:
child_outdata['HH with Autistic Child'].value_counts()

In [ ]:
child_outdata['HH with Child With Concentration/Emotional/Behavior Issues'].value_counts()

In [ ]:
adult_data = '../data/2017/samadult.csv'

In [ ]:
adult_data_df = pd.read_csv(adult_data)
adult_data_df.head()

In [ ]:
# Look at values of SMKSTAT2 
adult_data_df['SMKSTAT2'].value_counts()

In [ ]:
adult_outdata = adult_data_df.loc[:,['RECTYPE','SRVY_YR','HHX','FMX','FPX','REGION','WTFA_SA','COPDEV','AASMEV',
                                     'AASSTILL','SMKSTAT2']]

adult_outdata['HH with Smoker']=0

for index, row in adult_outdata.iterrows():
    
    if adult_outdata.loc[index,'SMKSTAT2'] in (1,2,5):
        adult_outdata.loc[index,'HH with Smoker'] = 1
    
    
adult_outdata['HH with Smoker'].value_counts()

In [ ]:
adult_outdata.head()

In [ ]:
child_outdata.head()

In [ ]:
merge_adult_child = pd.merge(adult_outdata, child_outdata, on=["HHX","FMX"])
merge_adult_child = merge_adult_child.loc[:,['HHX','FMX','HH with Smoker','HH with Asthmatic Child', 'HH with ADHD/ADD Child', 'HH with Autistic Child', 'HH with Child With Concentration/Emotional/Behavior Issues', 'WTFA_SA','WTFA_SC']]
merge_adult_child.head()

In [ ]:
family_merge = pd.merge(family_outdata, merge_adult_child, on=['HHX', 'FMX'])
family_merge = family_merge.loc[:,['HHX','FMX', 'SRVY_YR', 'FM_SIZE', 'HH with Children', 'HH with Smoker','HH with Asthmatic Child', 'HH with Food Concern due to Money', 'HH with ADHD/ADD Child', 'HH with Autistic Child', 'HH with Child With Concentration/Emotional/Behavior Issues', 'WTFA_SA','WTFA_SC', 'WTFA_FAM']]
family_merge.head()

In [ ]:
# Use the value counts to determine the number of students
smkcounts = merge_adult_child['HH with Smoker'].value_counts()

# Convert the value counts into a dataframe
hh_smk_counts = pd.DataFrame({'Smoker Flag':smkcounts.index, 'Count':smkcounts.values})

check_smk_asthma = merge_adult_child.groupby(['HH with Smoker'])
hh_smk_counts["Percent with Asthmatic Child"] = 100 * check_smk_asthma["HH with Asthmatic Child"].mean()
hh_smk_counts["Number with Asthmatic Child"] = check_smk_asthma["HH with Asthmatic Child"].sum()
hh_smk_counts

In [ ]:
# Create lists of child-asthma flags associated with smoking and nonsmoking households
child_flags_for_smokers=[]
child_flags_for_nonsmokers=[]

for index, row in merge_adult_child.iterrows():
    
    if merge_adult_child.loc[index,'HH with Smoker'] == 1:
        child_flags_for_smokers.append(merge_adult_child.loc[index,'HH with Asthmatic Child'])
    else:
        child_flags_for_nonsmokers.append(merge_adult_child.loc[index,'HH with Asthmatic Child'])


# Run the t-test
(t_stat, p) = stats.ttest_ind(child_flags_for_smokers,child_flags_for_nonsmokers,equal_var=False)
print(f"p is {p}.")
if p < 0.05:
    print("The difference in sample means is significant.")
else:
    print("The difference in sample means is not significant.")